.feturedPrize {
    margin: 0;
    padding: 0;
    margin-top: 50px; /* Adjust this as necessary */
  }
  .container {
    /* Ensure there is no fixed height or overflow issue */
    overflow: auto;
  }
  .custom-height .card {
    height: 400px; /* Set the height to your desired value */
  }
  
  .custom-height .card-img-top {
    height: 200px; /* Adjust the image height if necessary */
    object-fit: cover; /* Ensure the image covers the area without distortion */
  }
  .custom-modal-width {
    max-width: 10cm; /* Adjust the width as needed */
  }
  .custom-btn {
    /* Add your base styles for the custom buttons */
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .custom-btn-next {
    background-color: rgb(19, 51, 81);
    color: white;
  }
  
  .custom-btn-next:hover {
    background-color: black;
  }
  
  .custom-btn-cancel {
    background-color: #ccc;
    color: #333;
  }
  
  .custom-btn-cancel:hover {
    background-color: #b3b3b3;
  }
  .custom-btn:disabled {
    background-color: #AAAAAA;
    color:white;  
    cursor: not-allowed;  
  }
  
  
  .custom-btn:disabled:hover {
    background-color: #AAAAAA;  
  }