.home {
    display: flex;
  }
  
  .homeContainer {
    flex: 6;
  }
  
  .Homecontent {
    grid-area: main;
    overflow: auto;
    padding: 20px 20px;
    color: rgba(225, 225, 225, 0.95);
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
  }
  
  .card {
    width: 100%; /* Full width for responsiveness */
    max-width: 300px; /* Max width for the card */
    height: 300px; /* Adjust the height as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .card:nth-child(1) {
    background-color: azure;
  }
  
  .card:nth-child(2) {
    background-color: bisque;
  }
  
  .card:nth-child(3) {
    background-color: burlywood;
  }
  
  .card-inner {
    display: flex;
    align-items: center; 
    gap: 15px; 
  }
  
  .card_icon {
    font-size: 48px; 
    color: blueviolet;
  }
  
  .card-content {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    text-align: left; 
  }
  
  .card-content h5 {
    font-weight: bold;
    font-size: 1.2em; 
  }
  
  .card-description {
    margin: 10px 0;
    font-size: 0.9em; /* Slightly smaller text size */
    position: relative; /* Required for bullet positioning */
    padding-left: 30px; /* Increased space for the larger bullet */
  }
  
  .card-description::before {
    content: '•'; /* Bullet character */
    font-size: 2em; /* Increase the bullet size as needed */
    color: blueviolet; /* Bullet color */
    position: absolute;
    left: 0;
    top: 0;
  }
  
  
  .card-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .card-link:hover {
    text-decoration: underline;
  }
  