.steps-aside {
    display: flex;
    flex-direction: column; 
     justify-content: space-between; 
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    max-width: 500px;
    height: 100%; 
}

.steps-aside h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.steps {
    display: flex; 
    flex-direction: column;
    align-items: center;
    
}

.step-icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.step-text {
    font-size: 16px;
    color: #333;
}



/* biddinpaymet.css */
.bidding-payment {
    padding: 2rem;
    text-align: center;
}

.amount-controller {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.amount-button {
    background-color: white;
    color: #002446;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-weight: 900;
    cursor: not-allowed;
    position: relative;
}

.amount-input {
    width: 250px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid #0E486F;
    border-radius: 25px;
    padding: 0.5rem;
}

.hand-icon {
    position: absolute;
    top: 80%;
    right: 40%;
    transform: translateY(-50%) rotate(-300deg);
    color: #6D8EB0;
    font-size: 1.5rem;
    pointer-events: none;
}

h5 {
    color: #0E486F;
}

/* Responsive styles */
@media (max-width: 768px) {
    .amount-button {
        font-size: 1.5rem;
        padding: 0.5rem 0.75rem;
    }

    .amount-input {
        width: 200px;
        font-size: 1rem;
    }

    .start-lottery-btn {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
    }

    .h-icon {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .amount-button {
        font-size: 1.2rem;
        padding: 0.5rem 0.5rem;
    }

    .amount-input {
        width: 150px;
        font-size: 0.9rem;
    }

    .start-lottery-btn {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }

    .h-icon {
        font-size: 0.9rem;
    }
}






/* infosection.css */
.info-section {
    display: flex;     
    justify-content: space-around;    
     align-items: center;     
     padding: 20px;
    background-color: white;     
    border-radius: 8px; 
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 20px; 
}

.info-step {
    display: flex;     
    flex-direction: column;     
    align-items: center;     
    text-align: center; }

.info-step-icon {
    font-size: 2rem;    
    margin-bottom: 10px; }

.info-step-text {
    font-size: 1rem;     color: #333; }









/* faq.css */
.faq-accordion {
    padding: 1rem;
    max-width: 100vw;
    margin: 0 auto;
    background-color: #003356;
}

.faq-accordion h2 {
    text-align: center;
    color: white;
}


.accordion-button {
    background-color: #003356; 
    border: none; 
    margin: 0;
}

.accordion-button:not(.collapsed) {
    
    background-color: #003356; 
}

.accordion-item {
    background-color: #003356; 
    border: none; 
}

.accordion-body {
    background-color: #003356; 
    color: white; 
    margin-top: 0 !important;
    padding: 1rem;
}
.custom {
    margin-top: 0 !important; 
    padding: 1rem; 
}

.section-container {
    display: flex;
    gap: 1rem; 
}

/* .left-side,
.steps-aside-wrapper {
    border: 1px solid black;
    /* padding: 1rem; *
} */
.left-side{
    margin-bottom: 10px;
    flex: 3;     margin-left: 40px;
}
.start-lottery-container {
    display: flex;
    justify-content: center; 
    margin: 2rem 0;
}

.start-lottery-btn {
    background-color: #dfdede;
    color: #0E486F;
    border:none ;
    border-radius: 30px;
    padding: 0.5rem 4rem;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    position: relative;
   
}

.h-icon {
    position: absolute;
    top: 90%;
    left: calc(100% - 200px); 
    transform: translateY(-50%) rotate(45deg);
    color: #0E486F;
    font-size: 1.5rem;
    pointer-events: none;
}






/* numberselection.css */
.number-selection {
  text-align: center;
}

.number-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px; }

.number-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;   color: black;      margin: 5px;
  font-size: 10px;
  position: relative;   cursor: not-allowed;
  /* border: 2px solid #000; */
 }
 .number-selection h2 {
    margin-bottom: 1rem; /* Adjust the value as needed */
}


.number-circle.selected {
  background-color: #007bff;   color: white; }

.icon-wrapper {
  position: absolute;
  font-size: 33px;
  color:#001C3F ;   top: 70%;
  left: 95%;
  transform: translate(-50%, -50%) rotate(45deg);   pointer-events: none;   z-index: 1;   }

.number-circle.selected .icon-wrapper {
  transform: translate(-50%, -50%) rotate(290deg) translateY(-5px); }
  .selection-instruction {
    margin-top: 5rem;
    margin-bottom: 3rem; /* Add margin above the text to separate it from the number grid */
    /* font-size: 0.5rem; Adjust font size as needed */
    color: #0E486F; /* Adjust text color as needed */
}








.play-now-container {
    background-color: #003356; 
    width: 100vw;
    min-height: 20vh;
    text-align: center;
}


.play-now-btn {
    font-size: 1rem;
    padding: 0.5rem 9rem !important;
    color: #003356;
    background-color: white;
    border: none;
}



@media (max-width: 992px) {
    .play-now-btn {
        font-size: 1rem;
        padding: 0.5rem 8rem;
    }

   
}





