.user-dashboard-wrapper {
  display: flex;
}

.user-dashboard-content {
  flex: 1;
  margin-left: 250px;
  padding: 30px;
}

.user-dashboard-main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-dashboard-card {
  border: 2px solid rgb(19, 51, 81);
}

/* For notification and transaction sections */
.user-dashboard-notification-list {
  max-height: 200px;
  overflow-y: auto;
}

.user-dashboard-transaction-list {
  max-height: 300px;
  overflow-y: auto;
}

.user-dashboard-number-selection {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-dashboard-number-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-bottom: 36px;
}

.user-dashboard-number-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(19, 51, 81);
  background-color: white;
  color: rgb(19, 51, 81);
  padding: 0;
}

.user-dashboard-number-button:hover {
  background-color: rgb(19, 51, 81);
  color: white;
}

.user-dashboard-number-button.selected {
  background-color: rgb(35, 131, 221);
  color: white;
}

.user-dashboard-confirm-button {
  background-color: rgb(19, 51, 81);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 55px;
  text-align: center;
  font-size: 1.1rem;
  display: block;
  margin: 0 auto;
}

.user-dashboard-confirm-button:hover {
  background-color: rgb(35, 131, 221);
  color: white;
}

.card-header {
  background-color: rgb(19, 51, 81);
  color: white;
}

.card-body {
  background-color: rgba(232, 232, 232, 0.879);
}
