
.container {
    max-width: 800px;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.card {
    border: 1px solid #dee2e6;
}

.card-title {
    font-weight: bold;
}

.card-text {
    margin: 0;
}
