.add-user {
  background-color: white;
  width: 40%;
  margin: 50px auto;

  /* margin in top and bottom will be 50px */
  /* left and right auto */
  
  padding: 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 6.5%); /* Use percentage for opacity */

  /* horizon offset vertical offset blur offset */
  /* opacity of shadow */
  /* red, green, blue, and (opacity). */
}

.add-user-form .input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.add-user-form .input-group label {
  margin-top: 10px;
}

.add-user-form .input-group input {
  margin-top: 5px;
  padding: 10px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  width: 100%; /* Ensure the input fields take up the full width */
}

.input-group button {
  margin-top: 10px;
}

.login {
  margin-top: 30px;
  text-align: center;
}

.login .btn.btn-success {
  width: 50%;
}

.add-user h3 {
  text-align: center;
  font-weight: bold;
  color: darkcyan;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 70%); /* Use percentage for opacity */
}

.password-field {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.password-field a {
  margin-left: 10px; /* Adjust as needed */
  font-size: 14px; /* Adjust font size */
  color: #007bff; /* Adjust link color */
}

/* Add empty line before @media query */
@media only screen and (max-width: 850px) {
  .add-user {
      width: 80%;
  }
}
