.bidding-payment {
    padding: 2rem;
    text-align: center;
}

.amount-controller {
    /* position: relative;      */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.amount-button {
    background-color: white;     color: #002446;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 2rem;     font-weight: 900;     cursor: not-allowed;     position: relative; }

.amount-input {
    width: 250px;     text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid #0E486F;     border-radius: 25px;
    padding: 0.5rem;
}

.hand-icon {
    position: absolute;
    top: 80%;
    right: 40%;     transform: translateY(-50%) rotate(-300deg);     color: #6D8EB0;     font-size: 1.5rem;     pointer-events: none; }
h5{
    color:#0E486F;
}