.navbar2{
    height: 65px;
    border-bottom:  0.5px solid rgb(231, 228, 228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
    background: var(--light);
    
    


    .wrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search{
            display: flex;
           
            border: 0.5px solid lightgray;
            padding: 3px;
           
         
        }
        input{
            border: none;
            outline: none;
            background: transparent;

            &::placeholder{
                font-size: 12px;
            }

        }

        .items{
            display: flex;
            align-items: center;

            .item{
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;


                .icon{
                    font-size: 20px;
                }

                .counter{
                    width: 15px;
                    background-color: red;
                    height: 15px;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    right: -5px;

                }
                



            }
        }
    }
}
.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1000;
    display: none;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .dropdown-item:hover {
    background-color: #f8f9fa;
  }
  
  .dropdown-item .me-2 {
    margin-right: 0.5rem;
  }
  .search-form {
    flex-grow: 1; /* Allow the search form to take available space */
    max-width: 500px; /* Increase the max-width for the search bar */
    margin: 0 auto 0 0 ; /*Center the search form horizontally*/
  }
  
  .search-input-wrapper {
    display: flex;
    align-items: center;
    height: 36px;
    width: 100%;
  }
  
  .search-input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%; /* Ensure it takes full width */
    color: var(--dark);
  }
  
  .search-button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
    margin-top: 0;
  }