/* General styling for the form container */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    min-height: 100vh;
  }
  
  .banner-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
  }
  
  .banner-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .submit-button {
    background-color: rgb(19,51,81);
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .submit-button:hover {
    background-color: black;
  }
  
  
  /* Responsive design */
  @media (max-width: 768px) {
    .banner-form {
      padding: 15px;
    }
  
    .banner-form h2 {
      font-size: 20px;
    }
  
    .form-input {
      font-size: 14px;
    }
  
    .submit-button {
      font-size: 14px;
    }
  }
  