body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  
*{
    margin: 0;
    padding: 0;
}
.main-banner {
    width: 100%;
    padding: 2rem 0;
    margin: 0; /* Remove the default margin */
  }
  
  .banner {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;

 }
 .btn{
    background-color: rgb(51, 51, 165);
    color: white;
    border-radius: 2;
 }
 .steps{
    display: inline-block;
 }
