body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  .container {
    width: 100%;
    background-color: blue;
    padding: 2rem 0; /* Add some padding to the container */
  }
  
  .container-fluid {
    padding: 0 1rem; /* Add some horizontal padding to the inner container */
    
  }

  