
  
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
  }
  
  
  .swiper-slide img {
    display: block;
    width: 15%;
  }
*{
  margin: 0;
  padding: 0;
}
.main-banner {
  background-color: rgb(19, 51, 81);
  color: white; 
  padding: 50px 0; 
}
.Navbar{
  background-color: rgb(19, 51, 81);
}