.bidding-payment {
    padding: 2rem;
    text-align: center;
}

.amount-controller {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn-b {
    background-color: #0E486F;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

input {
    width: 80px;
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: 0.5rem;
}
