.start-lottery-container {
    display: flex;
    justify-content: center; 
    margin: 2rem 0;
    margin-top: 10px;
}

.start-lottery-btn {
    background-color: #dfdede;
    color: #0E486F;
    border:none ;
    border-radius: 30px;
    padding: 0.5rem 4rem;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    position: relative;
   
}


