
#paypal-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; 
    width: 200px; 
    height: 40px;
    
  }
  
  
  #paypal-button-container .paypal-button {
    transform: scale(0.8); 
    transform-origin: top left; 
  }
  
  
  