.custom-accordion-header {
    background-color: #003356 !important;
    color: white !important;
    width: 100%;
    text-align: center;
    padding: 10px !important; 
    border-radius: 5px !important; 
  }
  
  .custom-accordion-header h3 {
    color: white !important; 
  }
  
  .custom-accordion-header .accordion-button {
    background-color: #003356 !important;
    color: white !important;
    border: none;
  }
  
  .custom-accordion-header .accordion-button:not(.collapsed) {
    background-color: #003356 !important;
    color: white !important;
  }
  
  .custom-accordion-header .accordion-button::after {
    filter: invert(1); 
  }