


/* numberselection.css */
.number-selection {
  text-align: left;
}

.number-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px; }

.number-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;   color: black;      margin: 5px;
  font-size: 10px;
  position: relative;   cursor: not-allowed;
  /* border: 2px solid #000; */
 }
 .number-selection h2 {
    margin-bottom: 1rem; /* Adjust the value as needed */
}


.number-circle.selected {
  background-color: #007bff;   color: white; }

.icon-wrapper {
  position: absolute;
  font-size: 33px;
  color:#001C3F ;   top: 70%;
  left: 95%;
  transform: translate(-50%, -50%) rotate(45deg);   pointer-events: none;   z-index: 1;   }

.number-circle.selected .icon-wrapper {
  transform: translate(-50%, -50%) rotate(290deg) translateY(-5px); }
  .selection-instruction {
    margin-top: 5rem;
    margin-bottom: 3rem; /* Add margin above the text to separate it from the number grid */
    /* font-size: 0.5rem; Adjust font size as needed */
    color: #0E486F; /* Adjust text color as needed */
}








.play-now-container {
    background-color: #003356; 
    width: 100vw;
    min-height: 20vh;
    text-align: center;
}


.play-now-btn {
    font-size: 1rem;
    padding: 0.5rem 9rem !important;
    color: #003356;
    background-color: white;
    border: none;
}



@media (max-width: 992px) {
    .play-now-btn {
        font-size: 1rem;
        padding: 0.5rem 8rem;
    }

   
}




