

  

  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 250px;
  }
  .how-it-works{
    margin: 0;
    padding: 0;
    margin-bottom: 50px; /* Adjust this as necessary */
  }
  .feturedPrize{
    margin: 0;
    padding: 0;
    margin-top: 50px; /* Adjust this as necessary */
  }
  
  .swiper-slide img {
    display: block;
    width: 15%;
  }
*{
  margin: 0;
  padding: 0;
}
.main-banner {
  background-color: rgb(19, 51, 81);
  color: white; 
  padding: 50px 0; 
}
.Navbar{
  background-color: rgb(19, 51, 81);;
}


.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05); }

@media only screen and (max-width:850px){
  .feturedPrize{
    width: 70%;

  }
  
  
  
}